<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10">
      <div id="mission">
        Jetoj is a music series that makes classical music accessible to all audiences, regardless of opportunity or privilege.
      </div>
    </div>
  </div>






  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Chicago</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Minneapolis</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="carouselContainer">
        <% @chicago_performers.each do |performer| %>
          <div class="chicagoPerformers", style="display: none">
            <%= image_tag performer.headshot.url(:thumb), class: "performersCarouselImage" %>
            <%= performer.name %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="carouselContainer">
        <% @minneapolis_performers.each do |performer| %>
          <div class="minneapolisPerformers", style="display: none">
            <%= image_tag performer.headshot.url(:thumb), class: "performersCarouselImage" %>
            <%= performer.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%
=begin
### Tab pseudocode

unique ids: <a id = #chicagoTab #minneapolisTab
also unique divs for content: #chicagoContent #minneapolisContent

when a#chicagoTab is clicked
  #minneapolisContent display: none
  #chicagoContent display: block

vice verse

### Carousel pseudocode

onClick or setInterval changes display property
one image is display:block at any given time
<% @chicago_performers.each_with_index |p, i|
  div chicagoPerformers-#{i}
    div p.headshot
    div p.name

  div chicagoPerformers-#{i}
    div p.headshot
    div p.name

$('.chicagoPerformers')
  let indexTracker = 0
  indexTracker increments on interval
  ex. when indexTracker is 1
    div with index 1 will be display: block
    all other chicagoPerformers divs will be display: none

=end
%>


<script>
  let slidesChicago = $(".chicagoPerformers");
  $(slidesChicago[0]).css("display", "block");
  let slideCountChicago = slidesChicago.length;
  let slideIndexChicago = 1;

  setInterval(() => {
    let activeIndex = slideIndexChicago % slideCountChicago;
    for (i = 0; i < slidesChicago.length; i++) {
      $(slidesChicago[i]).css("display", "none");
    }
    $(slidesChicago[activeIndex]).css("display", "block");
    slideIndexChicago++;
  }, 3000);

  let slidesMinneapolis = $(".minneapolisPerformers");
  $(slidesMinneapolis[0]).css("display", "block");
  let slideCountMinneapolis = slidesMinneapolis.length;
  let slideIndexMinneapolis = 1;

  setInterval(() => {
    let activeIndex = slideIndexMinneapolis % slideCountMinneapolis;
    for (i = 0; i < slidesMinneapolis.length; i++) {
      $(slidesMinneapolis[i]).css("display", "none");
    }
    $(slidesMinneapolis[activeIndex]).css("display", "block");
    slideIndexMinneapolis++;
  }, 3000);
</script>

<style>

</style>
