<%= render "layouts/header_landing" %>

  <div class="container-fluid">
    <div class="row">
      <h1 class="bold-headline">About Jetoj</h1>
    </div>
    <div class="row">
      Jetoj focuses on bringing classical music to a broader audience. In today's world of media and a culture that gravitates toward mainstream music classical music is often tossed off as music for 'old people' or only elite audiences. Jetoj prides itself in the variety of music in each program.
    <br /><br />
      Jetoj works to make classical music accessible to everyone by exploring genre, concert model, presentation, audience engagement, location, repertoire, and instrumentation, through a collaborative group of musicians prepared to present music in an unconventional way.
    </div>

    <%= render 'layouts/members' %>
