<% if index == 0 %>
  <div class="carousel-item car-item active">
<% else %>
  <div class="carousel-item car-item">
<% end %>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag performer.headshot, class: "img-fluid" %>
    </div>
    <div class="col-md-6">
      <%= performer.name %>
      <%= performer.bio %>
    </div>
  </div>
</div>
