<div class="row">
  <div class="mr-auto ml-auto">
    <%= image_tag "https://s3.us-east-2.amazonaws.com/jetoj/performers.png", class: "img-fluid" %>
  </div>
</div>

<%= render "filters" %>
<br />
<br />
<% @performers.each do |performer| %>
  <%= render "profile", performer: performer %>
  <hr />
<% end %>
