<div class="row border-util">
  <div class="col-sm-12">
    <div class="media-filters text-center border-util">
      <span class="btn btn-primary"><%= link_to "Photo", controller: "media", action: "photo" %></span>
      <span class="btn btn-primary"><%= link_to "Video", controller: "media", action: "video" %></span>
      <span class="btn btn-primary"><%= link_to "Audio", controller: "media", action: "audio" %></span>
    </div>
    <br />
  </div>
</div>
