<div class="row border-util">
  <div class="col-sm-12">
    <div class="media-filters text-center border-util">
      <%= link_to "Photo", controller: "media", action: "photo" %>
      <%= link_to "Video", controller: "media", action: "video" %>
      <%= link_to "Audio", controller: "media", action: "audio" %>
    </div>
    <br />
  </div>
</div>
