<div class="row">
  <div class="mr-auto ml-auto">
    <%= image_tag "https://s3.us-east-2.amazonaws.com/jetoj/media.png", class: "img-fluid" %>
  </div>
</div>

<%= render 'filters' %>

<div class="row">
  <% @media.each do |medium| %>
    <div class="col-sm-4">
      <%= image_tag medium.image.url, class: "gallery-photo img-fluid border-util" %>
      <% if user_signed_in? %>
        <%= link_to "Edit Photo", edit_medium_path(medium) %>
      <% end %>
    </div>
  <% end %>
</div>
