<%= render 'filters' %>

<div class="row">
  <% @media.each do |medium| %>
    <div class="col-sm-4">
      <%= image_tag medium.image.url, class: "gallery-photo img-fluid border-util" %>
    </div>
  <% end %>
</div>
