<h1>Media#show</h1>

<% if !@medium.image.blank? %>
  <p><%= image_tag @medium.image.url %></p>
<% end %>

<% if !@medium.youtube_id.empty? %>
  <iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/#{@medium.youtube_id}" %>"></iframe>
<% end %>

<p><%= @medium.description %></p>
