<%= render 'filters' %>

<% @media.each do |medium| %>
  <div class="row border-util">
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9 border-util">
        <%= youtube_frame("http://www.youtube.com/embed/#{medium.youtube_id}") %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= medium.description %>
      <% if user_signed_in? %>
        <p><%= link_to "Edit Video", edit_medium_path(medium) %></p>
      <% end %>
    </div>
  </div>
  <br />
<% end %>
