<%= render 'layouts/placeholder_nav' %>
<%= render 'filters' %>

<div class="row">
  <% @media.each do |medium| %>
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/#{medium.youtube_id}" %>" class="embed-responsive-item" allowfullscreen></iframe>
      </div>
    </div>
  <% end %>
</div>
