<%= render 'filters' %>

<% @media.each do |medium| %>
  <div class="row border-util">
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9 border-util">
        <%= youtube_frame("http://www.youtube.com/embed/#{medium.youtube_id}") %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= medium.description %>
    </div>
  </div>
  <br />
  <br />
<% end %>
