/* variables */

$pastel-purple: #786099;
$pastel-orange: #eb4f50;
$pastel-pink: #f96d90;
$pastel-pink-fade: rgba(#e08d97, 0.22);
$performer-picture: url('../images/seed_assets/user_avatars/user_avatar');
$post-picture: url('../images/seed_assets/posts_images/post_image');
$medium-picture: url('../images/seed_assets/media_images/medium_image');
$event-picture: url('../images/seed_assets/events_images/event_image');

/* bootstrap defaults */

$font-family-base:'Josefin Sans', sans-serif;
$link-color: black;

/* header */

.navbar-container {
  overflow: auto;
  position: relative;
  align-items: center;
  height: 150vh;
  background-color: white;
  #jetoj-logo {
    padding: 0 1em 5.5em 0;
    max-width:780px;
    max-height:520px;
    vertical-align: middle;
  }
  #mission {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 2em 0 2em 0;
  }
  .menu {
    text-align: center;
    text-transform: uppercase;
    padding: 4em 0 2em 0;
    // visibility: hidden;
    .hr{
      padding: 1em 0 1em 0;
    }
    .navlink {
      padding-right: 1em;
      font-size: .85em;
    }
    .userlink {
      color: $pastel-purple;
      font-weight: bold;
    }
  }
}

/* header GENERAL */

/* header LANDING */

#jetoj-logo-scroll {

}

.jetoj-menu-scroll {

}

/* s header + */

// m header

/* general */

.post-thumbnail {
  padding-top: 2em;
}

a {
  color: $pastel-pink;
}

h1 {
  color: pastel-purple
}

/* typography */

.post-head {
  width: inherit;
  display: flex;
  .post-thumbnail {
    width: 240px;
    height: 160px;
  }
  .post-title {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.5em;
    width: 25%;
    float: left;
    margin: 0 0 0 20px;
    color: $pastel-orange;
  }
}
.post-tail {
  margin: 10px 0 25px 10px;
  width: inherit;
  display: flex;
  flex-direction: column;
  .post-credits {
    font-size: .75em;
  }
  .post-summary {
    font-size: 1em;
    display: block;
  }
  .post-link {
    font-size: 1em;
    font-weight: 500;
  }
}

/* footer */

.footer {
  a.fa {
    padding: 0 5px 0 5px;
    &:hover {
      text-decoration: none;
    }
  }
}



@import "bootstrap";
