/* variables */

$pastel-purple: #786099;
$pastel-orange: #eb4f50;
$pastel-pink: #f96d90;
$pastel-pink-fade: rgba(#e08d97, 0.22);
$performer-picture: url('../images/seed_assets/user_avatars/user_avatar');
$post-picture: url('../images/seed_assets/posts_images/post_image');
$medium-picture: url('../images/seed_assets/media_images/medium_image');
$event-picture: url('../images/seed_assets/events_images/event_image');
// $media-margin:

/* bootstrap defaults */

$font-family-base:'Josefin Sans', sans-serif;
$link-color: black;

.col-centered {
float: none;
margin: 0 auto;
}

/* mobile header */

.navbar-container {
  align-items: center;
  width: 100%;
  height: 150vh;
  background-color: white;
  #jetoj-logo {
    padding: 5em 0 5.5em 0;
    max-width:780px;
    max-height:520px;
    vertical-align: middle;
  }
  #mission {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 0 5em 0;
  }
  // #mobile-nav-icon-outer {
  //   border: 1px solid black;
  //   width: 6em;
  //   height: 2em;
  //   border-radius: 30px;
  //   display: inline;
  //   padding: 0;
  // }
  // #mobile-nav-icon-inner {
  //   vertical-align: middle;
  //   background-color: black;
  //   width: 1em;
  //   height: 1em;
  //   border-radius: 30px;
  //   float: left;
  //   margin: .47em;
  // }
  .menu {
    text-align: center;
    visibility: hidden;
    .navlink {
      line-height: 1.5em;
      margin-right: 1em;
    }
  }
  #jetoj-right {
    height: 10%;
  }
}

/* desktop nav */

@media (min-width: 992px) {
//   .navbar-container {
//     height: 10em;
//     #jetoj-logo {
//       max-width:780px;
//       max-height:520px;
//     }
//     .menu {
//       text-align: center;
//       align-self: flex-end;
//       .navlink {
//         justify-content: center;
//         height: inherit;
//         width: inherit;
//         font-weight: 900;
//         text-transform: uppercase;
//         margin: 0 1.5em 0 1.5em;
//         -webkit-transition: background-color 1s;
//         transition: background-color 1s;
//         &:hover {
//           background-color: $pastel-pink-fade;
//           text-decoration: none;
//           border-radius: 30px;
//         }
//       }
//     }
//   }
}

/* general */
a {
  color: $pastel-pink;
}

h1 {
  color: pastel-purple
}
/* typography */

.container {

}

.post-head {
  width: inherit;
  display: flex;
  .post-thumbnail {
    width: 240px;
    height: 160px;
  }
  .post-title {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.5em;
    width: 25%;
    float: left;
    margin: 0 0 0 20px;
    color: $pastel-orange;
  }
}
.post-tail {
  margin: 10px 0 25px 10px;
  width: inherit;
  display: flex;
  flex-direction: column;
  .post-credits {
    font-size: .75em;
  }
  .post-summary {
    font-size: 1em;
    display: block;
  }
  .post-link {
    font-size: 1em;
    font-weight: 500;
  }
}

@import "bootstrap";
