@import "bootstrap";

/* nav */

.expand-button {
  margin-top: 5px;
  display: flex;
  .square {
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 35px;
    background-color: grey;
    .inner-square {
      height: 1px;
      background-color: black;
      margin: 5px 2px 5px 2px;

    }
  }

}

/* variables */

$off-pink: rgb(224, 141, 151);
$pastel-purple: rgb(120, 96, 153);
$pastel-orange: rgb(235, 90, 80);
$user-picture: url('../images/seed_assets/user_avatars/user_avatar');
$post-picture: url('../images/seed_assets/posts_images/post_image');
$medium-picture: url('../images/seed_assets/media_images/medium_image');
$event-picture: url('../images/seed_assets/events_images/event_image');

/* general */
a {
  color: $off-pink;
}

h1 {
  color: pastel-purple
}
/* typography */

.container {

}

.post-head {
  width: inherit;
  display: flex;
  .post-thumbnail {
    width: 240px;
    height: 160px;
  }
  .post-title {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.5em;
    width: 25%;
    float: left;
    margin: 0 0 0 20px;
    color: $pastel-orange;
  }
}
.post-tail {
  margin: 10px 0 25px 10px;
  width: inherit;
  display: flex;
  flex-direction: column;
  .post-credits {
    font-size: .75em;
  }
  .post-summary {
    font-size: 1em;
    display: block;
  }
  .post-link {
    font-size: 1em;
    font-weight: 500;
  }
}

/* images */

.site-banner {
  height: 5em;
  width: 100%;
  background-color: $pastel-purple;
  // background-image: img();
  .jetoj-word {
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 800;
    color: $off-pink;
    &:hover {
      color: $pastel-purple;
      text-decoration: none;
    }
  }
  .navbar-nav {
    margin: 1.5em 1em 0 0;
    li {
      a {
        font-weight: bolder;
        font-size: 1.5em;
        color: $off-pink;
        &:hover {
          color: $pastel-orange;
          text-decoration: none;
        }
      }
    }
  }
}
