$pastel-purple: #786099;
$pastel-orange: #eb4f50;
$pastel-pink: #f96d90;
$pastel-pink-fade: rgba(#e08d97, 0.22);
$performer-picture: url('../images/seed_assets/user_avatars/user_avatar');
$post-picture: url('../images/seed_assets/posts_images/post_image');
$medium-picture: url('../images/seed_assets/media_images/medium_image');
$event-picture: url('../images/seed_assets/events_images/event_image');
$font-family-base:'Josefin Sans', sans-serif;
$link-color: black;


// additional colors - reorganize these later

$light-grey: #ededed;
