<nav class="navbar-container container-fluid">
  <%= image_tag("jetoj-logo.jpg", :alt => "Jetoj logo", id: "jetoj-logo", class: "container col-xs-12 col-s-9") %>
  <i id="mission" class="col-xs-12">Jetoj is a music series that makes classical music accessible to all audiences, regardless of opportunity or privilege.</i>
    <!-- <%= image_tag("jetoj-right.jpg", class: "col-xs-3") %> -->
  <%= render "layouts/menu", class: "col-xs-12" %>
</nav>
